@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');
:root{
    --main-color: #000000;
    --primary-color: #ffffff;
    --secondary-color: #0000ff;
    --hover-color: #00ffff;
    --border-color: #d3d3d3;
    --fontfamily: 'Libre Baskerville', serif;
    --fontfamily: 'M PLUS Rounded 1c', sans-serif;
    --fontstyle: italic;
    --font-weight1: 500;
    --font-weight2: 600;
}

.header-container{
    width: 100%;
    background-color: var(--main-color);
    position: fixed;
    z-index: 10;
}

.navbar-container{
    width:85%;
    margin: auto;
}

.navbar-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fontfamily);
}

.navbar-links ul{
    display: flex;
}

.navbar-links ul li{
    list-style: none;
    padding: 10px 20px;
}

.navbar-links ul li a{
    text-decoration: none;
    color: var(--primary-color);
}

.navbar-links ul li a:hover,
.navbar-logo-text:hover{
    color: var(--hover-color);
}

.navbar-login{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 50px;
}

.navbar-login a{
    display: flex;
    align-items: center;
    color: var(--hover-color);
    text-decoration: none;
}

.navbar-login a:hover{
    color: var(--primary-color);
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.navbar-logo img{
    width: 50px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    border-radius: 5px;
}

.navbar-logo a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
}

.navbar-logo-text{
    font-size: large;
    margin-left: 5px;
    text-align: center;
    font-weight: var(--font-weight1);
}


.mobile-navbar-logo img{
    width:50px;
    margin-right: 2px;
}

.mobile-navbar-links ul{
    display: block;
}

.mobile-navbar-links ul li{
    margin: 30px 0;
    list-style: none;
    text-align: left;
    font-weight: var(--font-weight1);
}

.mobile-navbar-links ul li a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 20px;
    font-family: var(--fontfamily);
}

.mobile-navbar-links ul li a:hover{
    color: var(--secondary-color);
}

.mobile-myaccount{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.mobile-navbar-logo{
    width: 100%;
    display:flex;
    align-items: center;
}

.mobile-navbar-logo img{
    width: 80px;
}

.mobile-navbar-logo p{
    text-transform: capitalize;
    font-weight:bold;
    font-size: 18px;
    margin-left: 30px;
    font-family: var(--fontfamily);
}

/*CSS Media Queries*/
@media screen and (min-width: 1024px) {
   .hamburger{
    display: none;
   }

   .mobile-view-navbar{
    display: none;
   }

   .navbar-links{
         display: flex;
   }
}

@media screen and (max-width: 968px) {
    .header-container{
        width:auto;
        margin:auto;
    }

    .navbar-container{
        width:85%;
        margin: auto;
        display:flex;
        flex-direction: row-reverse;
    }

    .navbar-logo img{
        width: 50px;
    }

    .navbar-links{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-container{
        width:100%;
        margin:auto;
    }

    .navbar-container{
        width:85%;
        margin: auto;
        display:flex;
        flex-direction: row;
    }

    .navbar-content{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10px 0;
    }

    .navbar-logo img{
        width: 50px;
    }

    .navbar-links{
        display: none;
    }
}

@media screen and (max-width:578px) {
    .header-container,
    .navbar-container{
        width: 100%;
    }

    .navbar-content{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10px 0;
    }

    .navbar-links{
        display: none;
    }

    .navbar-logo{
        margin-left: 10px;
    }

    .navbar-logo-text{
        font-size: medium;
    }

    .navbar-logo-text:hover{
        color: var(--hover-color);
    }
}

@media screen and (max-width:390px) {
    .navbar-section,
    .header-container{
        width: 100%;
    }

    .navbar-content{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10px 0;
    }

    .navbar-links{
        display: none;
    }

    .navbar-logo{
        margin-left: 10px;
    }

    .navbar-logo-text{
        font-size: medium;
    }

    .navbar-logo-text:hover{
        color: var(--hover-color);
    }
}


